{{!// 3. Crear un parcial “producto” que contenga el template correspondiente a la presentación de cada producto en el Dashboard y recibacomoparámetroelnombre del producto.}}

<div onclick="agregarCarro(this.id)" id="{{nombreProducto}}">
  <p>{{nombreProducto}}</p>
  <img src="/img/{{nombreProducto}}.png" alt="{{nombreProducto}}" />
</div>